body {
    font-family: Arial;
}
header div, 
footer div {
    background-color: saddlebrown;
    color: white;
    height: 100px;
    float: left;
}
.lewy {
    width: 55%;
    font-size: 120%;
}
.srodek {
    width: 25%;
}
.prawy {
    width: 20%;
    text-align: right;
}
main {
    background-color: snow;
    padding: 70px;
}
a {
    border: 2px dotted saddlebrown;
    background-color: snow;
    color: saddlebrown;
    padding: 20px;
    line-height: 100px;
}
ol {
    list-style-type: lower-latin;
}