body {
    font-family: Tahoma;
}
header {
    background-color: #003d33;
    color: white;
    text-align: center;
    height: 50px;
}
header > div {
    float: left;
}
header > div.left {
    width: 70%;
}
header > div.right {
    width: 30%;
}
main {
    clear: both;
}
main > div {
    float: left;
}
main > div.left {
    background-color: #26a69a;
    height: 550px;
    width: 30%;
}
main > div.right {
    background-color: #26a69a;
    height: 550px;
    width: 70%;
}
footer {
    background-color: #003d33;
    color: white;
    clear: both;
}
div.card {
    width: 400px;
    margin: 30px;
    text-align: center;
    border: 1px solid #003d33;
}

div.card button {
    background-color: #003d33;
    color: white;
    width: 100%;
    height: 30px;
    border: none;
}

div.card button:hover {
    background-color: #004c40;
}

h2, h5 {
    margin-block-end: 0;;
}
